@font-face {
  font-family: 'nunito';
  src: url('../../public/fonts/Nunito-VariableFont_wght.ttf') format('ttf');

}

@font-face {
  font-family: 'arizonia';
  src: url('../../public/fonts/Arizonia-Regular.ttf') format('ttf');

}

@font-face {
  font-family: 'baskerville';
  src: url('../../public/fonts/baskerville.ttf') format('ttf');

}